{{!< layout}}
<div class="aui-page-panel-content main">
    <section class="aui-page-panel-item">
        <h3>Bintray Package</h3>
        <form id="associate-package" class="aui" method="post" enctype="multipart/form-data">
            <input type="hidden" name="action" value="associate-package">
            <div class="field-group">
                <label for="packagePath">Package Path</label>
                <input class="text long-field" type="text"
                       id="packagePath" name="packagePath" placeholder="username/repo/package" value="{{packagePath}}">
                <div class="description">The relative path of the Bintray package you'd like to associate</div>
            </div>
            <div class="buttons-container">
                <div class="aui-buttons">
                    <button form="associate-package" id="save-package-path" type="submit" class="aui-button aui-button-primary">Save</button>
                </div>
                <div class="button-spinner spinner"></div>
            </div>
        </form>
    </section>
</div>