{{!< layout}}
<div class="aui-page-panel-content main">
    <section class="aui-page-panel-item">
        <h3>Bamboo User</h3>

        <form id="bamboo-user" class="aui" method="post" enctype="multipart/form-data">
            <input type="hidden" name="action" value="bamboo-user">

            <div class="field-group">
                <label for="url">URL</label>
                <input class="text long-field" type="text"
                       id="url" name="url" placeholder="http://my-bamboo.com or http://127.0.0.1:8085" value="{{url}}">

                <div class="description">The url of your Bamboo Server</div>
                <label for="username">Username</label>
                <input class="text long-field" type="text"
                       id="username" name="username" placeholder="admin" value="{{username}}">

                <div class="description">The name of your Bamboo authenticating subject</div>
                <label for="password">Password</label>
                <input class="password long-field" type="password"
                       id="password" name="password" placeholder="secret" value="{{password}}">

                <div class="description">The Password of your Bamboo User</div>
            </div>
            <div class="buttons-container">
                <div class="aui-buttons">
                    <button form="bamboo-user" id="save-user-credentials" type="submit"
                            class="aui-button aui-button-primary">Save
                    </button>
                </div>
                <div class="button-spinner spinner"></div>
            </div>
        </form>
    </section>
</div>